.form-container__footer {
    padding-top: 12px;
    border-top: 1px solid #cacaca;
    width: 100%;
}
.google svg {
    width: 18px;
    height: auto;
  }
  
.form-container__sign-app-buttons {
    display: flex;
}
  
.form-container__sign-app-buttons button:not(:first-child) {
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form-container__sign-app-buttons button:not(:first-child)::before {
    position: absolute;
    content: '';
    width: 70%;
    height: 2px;
    background: rgb(187, 187, 187);
    bottom: 0;
    opacity: 0;
  }
  
  .form-container__sign-app-buttons button:not(:first-child):hover::before {
    opacity: 1;
    transition: 1s;
  }
  
  .form-container__sign-app-buttons button:not(:first-child):focus::before {
    opacity: 1;
    background-color: #4b4b4b;
  }
  
  .form-container__sign-app-buttons button:first-child {
    justify-content: center;
    height: 40px;
    min-width: none;
    border: none;
    background: white;
    border-radius: 2px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 1px #b7b7b7;
    display: flex;
    align-items: center;
    color: #4b4b4b;
    font-size: 13px;
    column-gap: 5px;
    cursor: pointer;
  }
  
  .form-container__sign-app-buttons button:first-child:active {
    background: #eeeeee;
  }
  
  .form-container__sign-app-buttons button:first-child:focus:not(:active) {
    outline: none;
    -webkit-box-shadow: inset 0 0 3px 1px #97dbff;
    box-shadow: inset 0 0 3px 1px #97dbff;
  }
  .social{
    padding: 10px !important;
  }